<div id="wrapper">
	<div ng-include="'app/templates/navbar.html'"></div>
		<div class="container-fluid">
			<section id="header">
				<div class="col-sm-12">
					<h1>Support</h1>
					<p>Need Help?</p>
				</div>
			</section>
			<section id="content">
				<div class="col-sm-6">
					<h4 style="line-height:32px;">For support, contact your Concierge or Property Management Team to book a stay longer than 3 nights. Contact 416-645-8869 or <a href="mailto:avani.concierge@delcondo.com">avani.concierge@delcondo.com.</a></h4>
				</div>
			</section>
		</div>
</div>